@media (min-width: 768px) {
  #menuItems {
    transition: all 0.3s ease-in-out;
  }
  #verticalLine {
    transform-origin: top;
  }
  #branchLines {
    transform-origin: center;
  }
}

.swiper-wrapper {
  transition-timing-function: linear !important; /* gerakan konstan */
}
.swiper {
  width: 100%;
  overflow: hidden;
}
.swiper-slide {
  width: auto; /* biar fleksibel panjang kontennya */
  padding: 20px;
}
